# Supabase (ถ้าใช้ฟีเจอร์เดิม)
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# GLPI Asset Management
VITE_GLPI_URL=https://192.168.10.9/glpi
VITE_GLPI_APP_TOKEN=
VITE_GLPI_USER_TOKEN=

# Local MySQL backend API
API_PORT=4000
DB_HOST=192.168.40.130
DB_PORT=3306
DB_NAME=helpdsk_db
DB_USER=fight
DB_PASSWORD=vava1234
VITE_API_URL=http://localhost:4000
